

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CSS header and footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* CSS full */
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ header */

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.header-inner{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar-list{
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item{
    position: relative;
}

.navbar-item>a{
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    font-family: 600;
    line-height: 19.5px;
    color: black;
    text-shadow: 1px 1px #f5eeee;
}


/* icon */
.navbar-item .fa-solid{
    font-size: 12px;
}

.navbar-item:hover >a{
    color:rgb(47, 47, 168);
}


/* menu trong từng trang*/

.menu{
    display: none;
}

.navbar-item:hover .menu{
    display: block;
    position: absolute;
    background-color: #f4f4f4;
    width: 200px;
    border: 1px solid #dbdbdb;
}

.menu-item{
    padding: 10px;
    border-bottom: 1px solid black;
}

.menu-item:last-child{
    border-bottom: none;
}

.menu-item a{
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    display: block;
    color: black;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
}

.menu-item:hover,
.menu-item:hover a{
    background-color: #fff;
    color:rgb(50, 50, 192);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer */

.footer{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: #2f319e;
}

.footer_container{
    display: flex;
    justify-content:center;
    width: 100%;

}

.footer-content{
    width: 26%;
    margin: 15px ;

}

.footer-content h2 {
    height: 34px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.footer-content:nth-child(2)>h2{
    margin-bottom: 10px;
}

.footer-list{
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-list a{
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
}


/* form đăng ký */

.form-text{
    display: block;
    height: 30px;
    width: 98%;
    margin: 12px 0 20px 0;
}

.form-button{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    height: 43px;
    margin-top: 25px;
    border-radius: 6px;
    background-color: #edb017;
    border: 0;
}

.form-button:hover{
    cursor: pointer;
    background-color: #5091db;
    color: rgb(49, 49, 49);
}




