/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ wrapper */

/* wrapper-img */
.wrapper-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* wrapper-container1 */
.wrapper-container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-container1 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 510px;

}

.wrapper-container1 .image{
    width: 446px;
    height: 350px;

}

.wrapper-container1 .content .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.wrapper-container1 .text{
    width: 672px;
    height: 350px;
    margin-left: 10px;
    
}

.wrapper-container1 .text p{
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 20px;
}



/* wrapper-container2 */

.wrapper-container2{
    width: 100%;
    height: 495px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-container2 .content{
    width: 83%;
    height: 74%;
}

.wrapper-container2 .content h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

.wrapper-container2 .content .content-list{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.wrapper-container2 .content .content-list .content-item{
    border: 2px solid #760bbc;
    border-radius: 10px;
    width: 265px;
    height: 199px;
    padding: 20px;
}

.wrapper-container2 .content-item__icon{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.wrapper-container2 i{
    font-size: 45px;
    line-height: 50px;
    color: #760bbc;
     
}


.wrapper-container2 i:hover {            /*new*/   
    transition: 0.1s 0.1s; 
    font-size: 56px;
    cursor: pointer;
}

.wrapper-container2 h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #760bbc;
    text-align: center;
}

.wrapper-container2 p{
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    margin-top: 20px;
    text-align: center;
}


/* wrapper-container3 */

.wrapper-container3{
    width: 100%;
    height: 737px;
    background-image: linear-gradient(0, #760bbc, #0B249E);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-container3 .content{
    text-align: center;
    width: 83%;;
    height: 78%;
}

.wrapper-container3 .content h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.wrapper-container3 .content-list1{
    display: flex;
    justify-content: space-between;
    width: 1228px;
    height: 274px;
    margin-top: 60px;
    margin-left: 15px;
}

.wrapper-container3 .content-item{
    width: 287px;
    height: 100%;
    background-color: #fff;
    padding: 2px;
}

.wrapper-container3 .content-item img{
    width: 100%;
    height: 73%;
    object-fit: cover;
}

.wrapper-container3 .content-item:hover img{
    transition: 0.1s 0.1s;
    object-fit: scale-down;
    cursor: pointer;
}

.wrapper-container3 .content-item:hover p{
    color: #0B249E;
}

.wrapper-container3 .content-item p{
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin: 12px;   
}

.wrapper-container3 .content-list2{
    justify-content: space-evenly;
    width: 1228px;
    height: 188px;
    margin-top: 30px;
    margin-left: 15px;
}

.wrapper-container3 .content-list2 p{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
}

.wrapper-container3 .content-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100%;
    margin-top: 50px;
}

.wrapper-container3 .content-button a{
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 92%;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper-container3 .content-button i{
    margin-left: 6px;
    font-size: 20px;
}

.wrapper-container3 .content-button a:hover {
    background-color: rgb(236, 103, 14);
    width: 180px;
    height: 100%;
}



/* wrapper-container4 */

.wrapper-container4{
    height: 592px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-container4 .content{
    height: 80%;
    width: 82%;
}

.wrapper-container4 h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper-container4 .content-list1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 382px;
}

.wrapper-container4 .content-item{
    width: 346px;
    height: 350px;
    border: 2px solid #E1E0E0;
    padding: 15px;
}

.wrapper-container4 img{
    width: 100%;
    height: 258px;
    object-fit: cover;
}

.wrapper-container4 p{
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    margin: 20px 0;
}



/* wrapper-container5 */

.wrapper-container5{
    width: 100%;
    height: 613px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0, #2002d4, #08209f);
}

.wrapper-container5 .content-list{
    width: 572px;
    height: 493px;
}

.wrapper-container5 .content-list:first-child{
    width: 492px;
    padding: 0 50px 0 30px;
}

.wrapper-container5 h3{
    width: 492px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin: 20px 0 10px 0;
    color: yellow;
}

.wrapper-container5 h2{
    width: 482px;
    height: 28px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.wrapper-container5 .content-item{
    height: 112px;
    width: 100%;
    margin-bottom: 25px;
}

.wrapper-container5 .content-item:nth-child(1){
    margin-left:50px;
    margin-top: 30px;
}

.wrapper-container5 .content-item:nth-child(2){
    margin-left: 80px;
}

.wrapper-container5 .content-item:nth-child(3){
    margin-left: 50px;
}

.wrapper-container5 .content-item div{
    display: flex;
    height: 40px;
    width: 90%;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
}

.wrapper-container5 .content-item:nth-child(3) div{
    height: 50px;
    margin-bottom: 29px;
}

.wrapper-container5 .content-item div i{
    height: 40px;
    color: yellow;
    margin-right: 10px;
}

.wrapper-container5 .content-item:nth-child(1) i,
.wrapper-container5 .content-item:nth-child(3) i
{
    font-size: 20px;
    line-height: 20px;
}



/* wrapper-container6 */

.wrapper-container6{
    width: 100%;
    height: 681px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-container6 .content-list{
    height: 84%;
    width: 72%;
}

.wrapper-container6 h2{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 39px;
}

.wrapper-container6 .content-item{
    display: flex;
}

.wrapper-container6 .content-item1{
    width: 546.6px;
    height: 486px;
}

.wrapper-container6 .content-item1:last-child{
    padding-top: 36px;
    height: 450px;
}

.wrapper-container6 .content-item1 img{
    width: 95%;
    height: 100%;
    object-fit:contain;
}

.wrapper-container6 .content-item1 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 21px;
}

.wrapper-container6 .content-item1 div{
    margin-top: 40px;
}

.wrapper-container6 .content-item1 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
}



